.container {

	width: 750px;
	margin-left: auto;
	margin-right: auto;
	

}

body {

	background-color: black;
	color: #A1A0A0;
	margin-left: auto;
	margin-right: auto;
	background-image: url("https://i.ytimg.com/vi/dE_hqjO4iBY/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

button {
	margin: 3px;
	color: black;
	border-radius: 15px;
	background-color: white;
	border-color: #202020;
	border-width: 1px;
}

h1 {

	color: #A1A0A0;
	text-align: center;
}

#add-dash {

	margin: 3px;
	color: black;
	border-radius: 15px;
	background-color: white;
	border-color: #202020;
	border-width: 1px;

}

#gif-search {

	position: relative;
	left: 30%;
	margin-top: 20px;

}

.giphy {

	position: relative;
	

}


.item {

	max-width: 500px;
	background-color: rgba(96, 105, 108, .5);
	margin-left: auto;
	margin-right: auto; 
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	

}




